# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Large trained model
*.pth

# Temporary video files
*.mp4
*.avi
*.mov
*.mkv

# OS files
.DS_Store
Thumbs.db